:root {
  --background-primary: #fff;
  --background-secondary: #f5f5f5;
  --background-header: #fafafa;
  --background-tertiary: #eee;
  --text-primary: #111;
  --text-link: #000;
  --text-secondary: #222;
  --border-primary: #ccc;
  --font-family-sans-serif: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media(prefers-color-scheme: dark) {
  :root {
    --background-primary: #111;
    --background-secondary: #1b1b1b;
    --background-header: #161616;
    --background-tertiary: #222;
    --text-primary: #f1f1f1;
    --text-link: #fff;
    --text-secondary: #eee;
    --border-primary: #444;
  }
}

body {
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-family: var(--font-family-sans-serif);
}

.ec-header {
  background-color: var(--background-header);
}
